git+https://github.com/Rapptz/discord.py@rewrite

asyncpg==0.15.0
motor==1.2.1
uvloop==0.9.1

markovify==0.7.1
psutil==5.4.3
wolframalpha==3.0.1
pyowm==2.8.0
Pillow==5.0.0
midiutil==1.1.3
chatterbot==0.7.6

