yarl<1.2
git+https://github.com/Rapptz/discord.py@rewrite

asyncpg==0.15.0
motor==1.2.2
uvloop==0.10.1

markovify==0.7.1
psutil==5.4.5
wolframalpha==3.0.1
pyowm==2.8.0
Pillow==5.1.0
midiutil==1.1.3
chatterbot==0.7.6

